@font-face {
    font-family: 'norsebold';
    src: url('font/norse-bold-webfont.woff2') format('woff2'),
         url('font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    font-family: system-ui;
    font-size: 16px;
    color: #000;
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.left-side {
    width: 32%;
    position: relative;
    display: flex;
}

.right-side {
    width: 68%;
}

.bg-image {
    background-image: url('img/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.logo-container {
    font-family: 'norsebold';
    font-size: 7rem;
    background: rgb(0 0 0 / 50%);
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    overflow: hidden;
}

.logo-container .logo {
    height: 140px;
    width: 100px;
    padding: 0.8rem 0;
}

.img-attribution {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: #fff;

    & a {
        color: #fff;
    }
}

.img-attribution a {
}

.hero-container {

}

.text-container {

}

.form-container {
    
    & h1 {
        font-weight: 500;
    }

    & label {
        text-transform: uppercase;
    }
}

.form-inputs {

}

.form-button {

}