@font-face {
    font-family: 'norsebold';
    src: url('font/norse-bold-webfont.woff2') format('woff2'),
         url('font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    font-family: system-ui;
    font-size: 16px;
    color: #000;
    box-sizing: content-box;
    --ls-space: 3rem;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.left-side {
    width: 32%;
    height: 100vh;
    position: relative;
    display: flex;
}

.right-side {
    width: 68%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-image {
    background-image: url('img/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.logo-container {
    font-family: 'norsebold';
    font-size: 7rem;
    background: rgb(0 0 0 / 50%);
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    overflow: hidden;

    .logo {
        height: 140px;
        width: 100px;
        padding: 0.8rem 0;
    }
}

.img-attribution {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    color: #fff;

    a {
        color: #fff;
    }
}

.text-container {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1.2rem;
    margin-left: var(--ls-space);
    width: 80%;
}

.form-container {
    width: 68vw;
}

.form-inputs {
    box-shadow: 0 2px 4px 2px #ccc;

    h1 {
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: -0.03rem;
        margin: 0;
        margin-left: var(--ls-space);
        padding-top: 1rem;
    }

    label {
        text-transform: uppercase;
        letter-spacing: 0.09rem;
        font-size: 0.9rem;
        font-weight: 600;
        display: block;
    }

    input {
        border: 1px solid #E5E7EB;
        border-radius: 0.2rem;
        outline: none;
        padding: 0.45rem;
        padding-left: 0.6rem;
        width: 16.8rem;
        height: 1rem;
        font-size: 1rem;
        margin-top: 2px;

        &:focus {
            border: 1px solid #00f;
            box-shadow: 1px 2px 3px #ccc;
        }

        &:invalid {
            border: 1px solid #f00;
        }
    }
}

.input-row {
    margin-left: var(--ls-space);
    padding: 1rem 0;
    display: flex;
    gap: 5rem;

    &:nth-child(2) {
        padding-top: 1.6rem;
    }

    &:nth-child(4) {
        padding-bottom: 2.8rem;
    }
}

.form-button {
    margin: 1.8rem;
    margin-left: var(--ls-space);

    #btn-create {
        background: #596D48;
        color: #fff;
        border: 0;
        border-radius: 0.2rem;
        box-shadow: 2px 3px 3px #eee;
        width: 13rem;
        height: 2.6rem;
        margin-bottom: 0.5rem;
        font-weight: 800;
    }

    a {
        color: #596D48;
        text-decoration: none;
        font-weight: 700;
    }
}